/*
Welcome to Custom CSS!

To learn how this works, see http://wp.me/PEmnE-Bt
*/

footer {
	display: none;
}

.widget-footer {
	background-color: #E38202;
}

.header-image {
	border-bottom: none;
}

.entry-title {
	display: none;
}

.page-template-default {
    #content {
        background-color: #1B2D4D;
    }
}

.caption {
	caption-side: bottom;
}

.line-big {
	line-height: 200%;
}

//Mouse over link

a:hover {
	color: #FFFFFF;
}


// Home page

.page-id-5 {
	#content {
		background-color: #BB3800;
		font-style: italic;
	}

.hentry-wrapper {
		padding-top: 0;
	}

.wp-image-267 {
	padding-bottom: 20px;
	}
}
}

#content {
	color: #FFFFFF;
	font-size: 16px;
}

.site-header {
	padding-bottom: 1;
}

.site-header-wrapper {
	margin-left: 25;
}

.main-navigation a {
	color: #FFFFFF;
	margin-bottom: 25;
}

.custom-logo {
	max-width: 140px;
}

.site-branding {
	margin-top: 4;
}

#primary {
	width: 100%;	
}

.page-template-full-width-page {
	.entry-header-wrapper {
		display: none;	
	}
	.wp-caption-text {
		text-align: left;	
	}
	
#content {
		background-color: #1B2D4D;	
	}
}

// Memoranda page
.page-id-70 {
	#primary {
	  float: left;
		width: 60%;
	}
	#secondary {
		.widget-title {
		  color: #FFFFFF;
		}
		.cat-item a {
		  color: #FFFFFF;	
		}
	}
	.entry-header-wrapper {
		  display: none;
	}
	 #content {
		background-color: #1B2D4D;
		color: #FFFFFF
	}
}

.entry-title {
	color: #FFF; 
}

// Find Your Neighborhood page

.first-column {
		width: 300px;
	}

.neighborhood-table {
	display: block;
	overflow-x: scroll;
}

//D3 Team page
	
.second-column {
		width: 300px;
		padding-top: 20px;
	}

.bio-align-left {
	text-align: left;
	padding-top: 20px;
}

.mobile-spacing {
	display: none;
}

//Meet Raul Page
.pic-align-top {
	vertical-align: top;
	padding-top: 25px;
}

//Bio Tables

@media (max-width: 800px) {
	.bio-table th, .bio-table td {
		display: table-row;
	}
	.bio-table {
		padding: 20px;
		border-width: 0;
	}
	.mobile-spacing {
		height: 40px;
		display: initial;
	}
}

//Resource pages shapes

.element-round-sq {
	height: 100px;
	width: 100px;
	border-radius: 90%;
	fill: #FFF;
	visibility: visible;

}
